@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager
@inject IJSRuntime _jsRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

@* shows different content according to the user's authentication status:
    Logout link when the user is authenticated
*@
<AuthorizeView>
    <Authorized>
        <a href="" @onclick="BeginSignOut" style="color:white;text-align:center;">Log out</a>
    </Authorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await _jsRuntime.InvokeAsync<string>("localStorage.removeItem", "jwt");
        StateHasChanged();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}