@* Auth0
    Make sure that this component is referenced in MainLayout 
*@

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@* @inject SignOutSessionStateManager SignOutManager *@
@inject Microsoft.AspNetCore.Components.NavigationManager manager

@* shows different content according to the user's authentication status:
    Login link when the user is not authenticated
    Logout link when the user is authenticated
*@
<AuthorizeView>
    <Authorized>
        @* Hello, @context.User.Identity.Name! *@
        <a href='#' @onclick="BeginSignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        @* await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout"); *@

        manager.NavigateToLogout("authentication/logout");
    }
}