@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject CurrentUserService cUserService

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <header class="header"> 
            <h1>FoodShare</h1>
            <div>
                <img src="/images/handshake.png">
            </div>
            @* <button @onclick="logout">LogOut</button> *@
        </header>

        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>

@code{
    
    @* public void logout()
    {
        NavigationManager.NavigateTo("/", true);
        cUserService.ClearCurrentUser();
    } *@

}