.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* Space at the top of the page that the title and logo are in */
header{
    display: flex;
	align-items: center;
	justify-content: center;
    background-color: #53af8a;
    height: 50vh;
}
    header h1{
        font-family: "Papyrus";
        font-weight: bold;
        /* font: "Papyrus"; */
        text-align: center;
        color: white !important;
        font-size: 15vh;
        position: absolute;
        top: 5rem;
    }
    header img{
        height: 20vh;
        position: relative;
        align-items: center;
        margin-top: 7rem;
    }
    header .login_logout{
        position: fixed;
        top: 0;
        right: 0;
        /* align-items: end;
        text-align: right;
        display: inline; */
    }
main{
    background-color: #191919;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    height: 5rem;
    background-color: #53af8a;
    background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 70%);
    display: flex;
    align-items: stretch;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    padding: 0 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*BUTTON*/
.button{
	background-color: #53af8a;
	color: white;
	text-decoration: none;
	border:  2px solid transparent;
	font-weight: bold;
	padding: 15px 25px;
	border-radius: 30px;
	transition: transform .4s;
    margin: 10px;
    width: 200px;
}
.button:hover{
	transform: scale(1.2);
}

/* .logo {
    display: flex;
} */




/* .top-row {
    background-color:#53af8a;
    /* border-bottom: 1px solid #d6d5d5; */ /*
    justify-content: flex-end;
    height: 10rem;
    display: flex;
    align-items: center;
} */

    /* .top-row .logo{
        height: 8rem;
        width: auto;
        /* white-space: nowrap;
        margin-right: 1.5rem;
        text-decoration: none; */
        /* object-position: 5%; 
    } */
/* 
    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    } */

/* @media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
} */

/* .shopping-list{
	font-family: 'Courier New', Courier, monospace;
    /* box-sizing: content-box; */
    /* width: 90%; */
    /*border: 2px solid grey;
    padding-top: 0;
    padding: 10px;
    border-radius: 4px;
    min-height: fit-content;
    min-width: fit-content;
    margin: 5px;
} */