.page[b-ibtpzrl6ln] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ibtpzrl6ln] {
    flex: 1;
}

/* Space at the top of the page that the title and logo are in */
.header[b-ibtpzrl6ln]{
    display: flex;
    flex-direction: column;
	
    align-items: center;
    justify-content: center;
    
    background-color: #53af8a;
    height: fit-content;

    padding-top: 4rem;
    padding-bottom: 1rem;

}
    .header h1[b-ibtpzrl6ln]{
        margin: 0;
       
        flex: 1;

        font-family: "Papyrus";
        font-weight: bold;
        
        color: white !important;
        font-size: 15vh;
    }
    .header img[b-ibtpzrl6ln]{
        flex: 1;
        height: 20vh;
    }
    .login_logout[b-ibtpzrl6ln]{
        background-color: #53af8a;
        height: 2rem;
        align-items: erend;
        padding-right: 2rem;
        display: flex;
        justify-content: right;
        color: white;
    }
main[b-ibtpzrl6ln]{
    background-color: #191919;
}

.sidebar[b-ibtpzrl6ln] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ibtpzrl6ln] {
    height: 5rem;
    background-color: #53af8a;
    
    display: flex;
    align-items: stretch;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    padding: 0 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*BUTTON*/
.button[b-ibtpzrl6ln]{
	background-color: #53af8a;
	color: white;
	text-decoration: none;
	border:  2px solid transparent;
	font-weight: bold;
	padding: 15px 25px;
	border-radius: 30px;
	transition: transform .4s;
    margin: 10px;
    width: 200px;
}
.button:hover[b-ibtpzrl6ln]{
	transform: scale(1.2);
}