/* body{
    margin-left: 3rem;
    margin-right: 3rem;
} */
/* .header{
    display: flex;
	align-items: center;
	justify-content: center;
    background-color: #53af8a;
    height: 50vh;
}
.header h1{
    font-family: "Papyrus";
    font-weight: bold;
    text-align: center;
    color: white !important;
    font-size: 15vh;
    position: absolute;
    top: 5rem;
}
.header img{
    height: 20vh;
    position: relative;
    align-items: center;
    margin-top: 5rem;
} */

.main-page h2{
    text-align: center;
    font-size: medium;
}

/*BUTTON*/

.button{
	background-color: #53af8a;
	color: white;
	text-decoration: none;
	border:  2px solid transparent;
	font-weight: bold;
	padding: 15px 25px;
	border-radius: 30px;
	transition: transform .4s;
    margin: 10px;
    width: 200px;
}
.button:hover{
	transform: scale(1.2);
}

.buttons{
	max-width:  100%;
	margin:  0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    background-color: #191919;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: fit-content;
    background: #191919;
}
.card{
	height: 30vh;
/*	min-height: fit-content;*/
/*The problem here is that if i uncomment this line, they all aren't the same height*/
	width: 355px;
	padding: 20px 35px;
	background: white;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
h5{
	color: #53af8a;
	font-size: 30px;
	margin-bottom: 15px;
}
.pra p{
	color: #191919;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}