@* The only thing needed from this page is the GroceryList Component
    Delete Page later *@

@page "/feeder/home"

@* Auth0 *@
@* @attribute [Authorize] *@

@* PG AUTH & RBAUTH *@
@attribute [Authorize(Roles = "Feeder")]

<body>
    <GroceryList></GroceryList>
</body>

@code {
    
    @* ShoppingList list = new ShoppingList(); *@
    
    @* UserInfo cUser;
    
    public bool edit = false;
    private bool submitted = false; 

    //Dialog related code
    private int idAuthor;
    private string message;
    private bool DialogIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        peopletobefed = 0;
        cUser = CurrentUserService._currentUser;
    }  *@

    @* private bool sharedValue = false;

    private void UpdateSharedValue(bool newValue)
    {
        sharedValue = newValue;
    } *@

    @* private void OpenDialog()
    {
        DialogIsOpen = true;
        message = "How many people do you hope to feed this week?";
    } *@
   @* private async Task OnDialogClose(bool isOk)
   
   { *@
      @* if (isOk)
        {
            await authorService.Delete(idAuthor);
            authors = await authorService.ListAll((curPage - 1) *
            pageSize, pageSize, sortColumnName, sortDir, searchTerm);
        } 
        DialogIsOpen = false;
   } *@
}