<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">@Caption</h4>
            <button type="button" class="close"
               @onclick="@Cancel">&times;</button>
         </div>
            <EditForm OnValidSubmit="OnValidSubmit">
                 @* BODY OF THE DIALOG *@

                <div class="modal-body">
                    <div class="form-group">
                        <label>How many people do you plan to feed this week?</label>
                        <input type="number" placeholder="20" min="0"/>
                    </div>
                    <div class="form-group">
                        <label>How many people are you able to feed with your current stock?</label>
                        <input type="number" placeholder="20" min="0"/>
                    </div>
                </div>

                @* FOOTER OF THE DIALOG AKA. WHERE THE BUTONS ARE *@
                
                <div class="modal-footer">
                    <div class="buttons">
                        <button class="btn btn-primary button">
                            Submit
                        </button>
                    </div>
                </div>
            </EditForm>
        
      </div>
   </div>
</div>

@code {
   [Parameter] public string? Caption { get; set; }
   [Parameter] public string? Message { get; set; }
   [Parameter] public EventCallback<bool> OnClose { get; set; }
   [Parameter] public Category Type { get; set; }

private Task Cancel()
   {
      return OnClose.InvokeAsync(false);
   }

private Task OnValidSubmit()
{
    return OnClose.InvokeAsync(true);

}

private Task Ok()
   {
      return OnClose.InvokeAsync(true);
   }
public enum Category
   {
      Okay,
      SaveNot,
      DeleteNot
   }
}